@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  font-family: "Bitcount Single Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 900; /* adjust 100–900 */
  font-style: normal;
  font-size: larger;
}
